# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#fail_fast: true

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
        args: [--force-single-line-imports]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args: [
          --in-place,
          --remove-unused-variables,
          --remove-all-unused-imports,
          --recursive,
          --in-place,
          --exclude=__init__.py
          ]
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.902
    hooks:
      - id: mypy
        exclude: ^tests/
        args:
          [
            --disallow-untyped-defs,
            --disallow-untyped-calls,
            --check-untyped-defs,
            --ignore-missing-imports,
            --follow-imports=skip,
            --strict-optional,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (post-autoflake)
        args: [--force-single-line-imports]
