# This is a basic workflow to help you get started with Actions

name: Checks
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checks
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Lint
        working-directory: ./api
        run: |
          pip install --upgrade pip
          pip install black flake8 mypy==v0.902 isort autoflake
          isort --check-only app
          autoflake --in-place --remove-unused-variables --remove-all-unused-imports --expand-star-imports --exclude=__init__.py app
          black --diff --check app
          flake8
          mypy --strict-optional --follow-imports=skip --disallow-untyped-defs --disallow-untyped-calls --check-untyped-defs --ignore-missing-imports app